[Unit]
Description=Citadel Set Password
After=storage.mount
Requires=storage.mount
After=gdm.service
ConditionPathExists=!/storage/citadel-state/passwd
ConditionKernelCommandLine=citadel.install

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/libexec/citadel-setpassword.sh

[Install]
WantedBy=multi-user.target
RequiredBy=graphical.target
