[Unit]
Description=IPv4 Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot

ExecStart=@SBINDIR@/iptables-restore -w -- @RULESDIR@/iptables.rules
ExecReload=@SBINDIR@/iptables-restore -w -- @RULESDIR@/iptables.rules

ExecStopPost=-/sbin/iptables -P INPUT ACCEPT
ExecStopPost=-/sbin/iptables -P OUTPUT ACCEPT
ExecStopPost=/sbin/iptables -F

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
